.group-index {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 34px;
  padding-top: 16px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 16.25px;
}

.group-index li {
  width: 300px;
  height: 183px;
  display: inline-block;
  margin-left: 16px;
  margin-bottom: 16px;
}
.group-index li:hover{
  cursor: pointer;
}

.group-index-item-link {
  position: relative;
}

.group-index-item-link p {
  position: absolute;
  margin-top: -80px;
  margin-left: 32px;
  text-align: center;
  font-size: 20px;
  color: white;
  zoom: 1;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: -.02em;
}

.group-index img {
  width: 300px;
  height: 183px;
  top: 0;
  right: 0;
}
