.group-show-event-index {
  width: 528px;
  display: block;
  border: 1px solid rgba(0,0,0,.15);
  float:left;
  margin: 10px;
  margin-top: 16px;
  border-radius: 3px;
  border-bottom: 1px solid rgba(0,0,0,.26);
}

.group-show-event-index h2 {
  padding-left: 16px;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(0,0,0,.15);
}

.time-event-index-item {
  margin-top: -8px;
}

.group-show-event-index li {
  list-style: none;
  padding: 16px;
  border-bottom: 1px solid rgba(0,0,0,.15);
  padding-bottom: 0px;
  position: relative;
  word-wrap: break-word;
  display: list-item;
  font-size: 16px;
  line-height: 1.45;
  font-weight: 400;
}

.group-show-event-item-container {
  height: 312px;
  width: 496px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  border-bottom: 1px solid rgba(0,0,0,.15);
}

.group-show-event-item-container h2{
  background-color: #fff;
  color: rgba(0,0,0,.87);
  font-size: 20px;
  line-height: 1.25;
  font-weight: bold;
  letter-spacing: -.02em;
  margin-bottom: 0px!important;
  padding-bottom: 0px!important;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.group-show-event-item-location-link {
  color: #2A9BC7;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.45;
  font-weight: 400;
}

.group-show-event-item-location-link:hover {
  cursor: pointer;
}

.group-show-event-item-attenders {
  width: 360px;
  display: inline-block;
}

.group-show-event-item-left-container {
  width: 360px;
}

.group-show-event-item-left-container img {
  float: left;
  height: 30px;
  width: 30px;
  padding-right: 4px;
}

.group-show-event-item-left-container img:hover {
  cursor: pointer;
}

.group-show-event-item-right-container {
  float:right;
  margin-top: -232px;
}
