.navbar {
  border-bottom: 1px solid rgba(0,0,0,0.15);
  min-height: 64px;
  background-color: #fff;
  color: rgba(0,0,0,0.65);
}



.navbar div {
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  margin-bottom: 0px;
  padding: 4px 16px 0px 16px;
}

.navbar-right-list {
  float: right;
  margin-top: 4px;
}


.navbar-right-list-loggedin {
  margin-top: 14px;
}

.navbar-left-list div{
  margin-top: 4px;
}

.navbar-left-list div:hover {
  cursor: pointer;
}

.navbar-left-list p {
  margin: 0px;
  color: rgba(0,0,0,0.54);
  font-size: 14px;
}

.navbar-left-list h1 {
  color: #ed1c40;
  font-size: 20px;
  font-weight: bold;
}

.navbar-logo {
  width: 100px;
  height: 48px;
  overflow: hidden;
}

.navbar-logo img {
  height: 68px;
  width: 80px;
  margin-top: -10px;
}
