.user-show-box {
  display: inline-block;
  margin-top: 20px;
  width: 960px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0,0,0,.15);
  display: block;
  background-color: #fff;
}

.group:after {
  clear: both;
  content: "";
  display: block;
}


.user-show-box p {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 13px;
  line-height: 1.6;
  border-bottom: 1px solid rgba(0,0,0,.15);
}

.user-show-box-left-upper-section p {
  border: 0px;
  padding: 0px;
  font-size: 16px;
}

.user-show-box h1 {
  font-weight: 600;
  letter-spacing: -.02em;
  font-size: 28px;
  line-height: 1.25;
  padding-left: 16px;
  padding-top: 16px;
  border-bottom: 1px solid rgba(0,0,0,.15);
}

.user-show-box h2 {
  font-weight: 600;
  letter-spacing: -.02em;
  font-size: 22px;
  line-height: 1.25;
  padding-left: 16px;
  margin-top: 206px;
  border-bottom: 1px solid rgba(0,0,0,.15);
  padding-bottom: 4px;
  margin-bottom: 0px;
}

.user-show-box-left {
  float:left;
  margin-right: 0px;;
  width: 670px;
}

.user-show-box-left-upper {
}

.user-show-box-left-upper-section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 16px 16px 0;
  width: 190px;
  float: left;
  min-height: 175px;
}

.user-show-box-right {
  text-align: center;
  float: right;
  width: 255px;
  padding: 16px;
  white-space: nowrap;
}

.user-show-box-right img{
  width: 100px;
  height: auto;
  max-height: 100px;
}

.user-show-box-right-interests {
  text-align: left;
}

.user-show-box-right-interests h3 {
  font-size: 20px;
  line-height: 1.25;
  font-weight: bold;
  letter-spacing: -.02em;
}

.user-show-group-index {
  display: block;
}

.user-show-box-left-groupsection {
}

.user-show-group-index div {
  height: 183px;
}

.user-show-group-index li {
  width: 670px;
  height: 183px;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.user-show-group-index li:hover {
  background-color: #ED1C40;
}

.user-show-group-index img {
  width: 300px;
  height: 183px;
  float: left;

}

.user-show-group-index p {
  background-color: #fff;
  padding-top: 79px;
  padding-bottom: 79px;
  text-align: center;
  font-size: 20px;
  color: black;
  zoom: 1;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: -.02em;
  width: 300px;
  float: left;
  border-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 38px;
}

.update-image-container img {
  height: 200px;
  width: 200px;
  margin-top: -100px;
}

.update-image-container {
  background-color: #fafafa;
  height: 100px;
  width: 100px;
  margin-top: -500px;
  margin-left: -300px;
}

.edit {
  height: 610px;
}
